.Home-main {
  position: relative;
  background: radial-gradient(
    ellipse 60% 30% at 20% 0%,
    #172325 0%,
    rgb(23, 43, 43) 20%,
    #2c1a25 65%,
    #181b1f 100%
  );
  width: 100%;
  min-height: 100vh;
  z-index: 1;
}
